# Lexer Generation Files
lex.yy.c
lexer

# Parser Generation Files
y.tab.*
y.output
parser

# Compiler Executable
compiler

# Compiler Output Files
milRun.stat
/*.mil

# TeX Output Files
texbuild/**
*.pdf

# Zip Files
*.zip

# Temporary Directories
tmp_parser.*/**
